main {
  margin: 20px;
}

.titulo {
  color: #502b1b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.boton {
  margin: 2px;
  height: 50px;
  color: #502b1b;
  background-color: #fffdd0;
  border: 2px solid #502b1b;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.boton:hover {
  color: #fffdd0;
  background-color: #502b1b;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilo para las celdas del encabezado */
th {
  background-color: #502b1b;
  color: #fffdd0;
  padding: 10px;
  text-align: left;
}

/* Estilo para las celdas de datos */
td {
  padding: 10px;
  text-align: left;
}

tr {
  background-color: #fffdd0;
  color: #502b1b;
}

tr:hover {
  background-color: #502b1b;
  color: #fffdd0;
}