<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panderia San Francisco </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/04a1e28817.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <div class="top">
        <img class="logo" src="{% static 'core/img/logo_estrecho.jpg' %}" alt="LOGO">
      </div>
      <div class="bottom">
        <ul class="menu">
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li class="dropdownn">
            <a href="#">Productos</a>
            <ul class="dropdownn-menu">
              <li><a href="{% url 'pan' %}">Pan</a></li>
              <li><a href="{% url 'empanadas' %}">Empanadas</a></li>
              <li><a href="{% url 'reposteria' %}">Reposteria</a></li>
            </ul>
          </li>
          <li><a href="{% url 'carrito' %}">Carrito</a></li>
          <li><a href="{% url 'preguntas' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <br>
  <br>
  <div>
    <h1 class="titulo"> Contáctanos</h1>
  </div>
  <br>
  <br>


  <div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Formulario de Contacto</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Rellena el siguiente formulario para contactarte con nosotros.
              Recuerda ingresar todos los datos de forma correcta antes de enviarlo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <form id="miFormulario" action="https://formsubmit.co/ca.gonzalez4@duocuc.cl" method="POST">

      <label>Nombre:</label><br>
      <input type="text" id="itNombre" class="campo" name="nombre" /><br />
      <div id="mensaje1" class="errores">Ingresa correctamente tu Nombre</div>

      <label>Apellido:</label><br>
      <input type="text" id="itApellido" class="campo" name="apellido" /><br />
      <div id="mensaje2" class="errores">Ingresa correctamente tu Apellido</div>

      <label>Celular:</label><br>
      <input type="text" id="itCelular" class="campo" name="celular" /><br />
      <div id="mensaje3" class="errores">Ingresa correctamente un Celular</div>

      <label>Empresa</label><br>
      <input type="text" id="itEmpresa" class="campo" name="empresa" /><br />
      <div id="mensaje4" class="errores">Ingresa correctamente la Empresa</div>

      <label>Correo electronico:</label><br />
      <input type="text" id="itMail" class="campo" name="mail" /><br />
      <div id="mensaje5" class="errores">Ingresa correctamente un E-mail</div>

      <div class="row mb-3 col-6 mx-auto">
        <label>Consulta:</label><br />
        <textarea id="itConsulta" rows="4" class="campo" name="consulta"></textarea>
        <div id="mensaje6" class="errores">Escribe una Consulta</div>
      </div>
      <div class="enviado">

        <input type="submit" id="bEnviar" value="Enviar formulario" class="boton" />

      </div>

    </form>

    <footer>
      <div class="pie">
        <div class="left">
          <p>&copy; 2023 Todos los derechos reservados</p>
        </div>
        <div class="right">
          <ul>
            <div class="redes">
              <li><i href="#"><a class="fab fa-facebook-f"></a></i></li>
              <li><i href="#"><a class="fab fa-twitter"></a></i></li>
              <li><i href="#"><a class="fab fa-instagram"></a></i></li>
            </div>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'core/js/valida.js' %}"></script>
</body>

</html>