{% extends 'base_user.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
<div>
  <h1 class="titulos"> Contáctanos</h1>
</div>
<div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Formulario de Contacto</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Rellena el siguiente formulario para contactarte con nosotros.
            Recuerda ingresar todos los datos de forma correcta antes de enviarlo.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <form id="miFormulario" action="https://formsubmit.co/ca.gonzalez4@duocuc.cl" method="POST">
    <label>Nombre:</label><br>
    <input type="text" id="itNombre" class="campo" name="nombre" /><br />
    <div id="mensaje1" class="errores">Ingresa correctamente tu Nombre</div>
    <label>Apellido:</label><br>
    <input type="text" id="itApellido" class="campo" name="apellido" /><br />
    <div id="mensaje2" class="errores">Ingresa correctamente tu Apellido</div>
    <label>Celular:</label><br>
    <input type="text" id="itCelular" class="campo" name="celular" /><br />
    <div id="mensaje3" class="errores">Ingresa correctamente un Celular</div>
    <label>Empresa</label><br>
    <input type="text" id="itEmpresa" class="campo" name="empresa" /><br />
    <div id="mensaje4" class="errores">Ingresa correctamente la Empresa</div>
    <label>Correo electronico:</label><br />
    <input type="text" id="itMail" class="campo" name="mail" /><br />
    <div id="mensaje5" class="errores">Ingresa correctamente un E-mail</div>
    <div class="mb-3 col-6 mx-auto">
      <label>Consulta:</label><br />
      <textarea id="itConsulta" rows="4" class="campo" name="consulta"></textarea>
      <div id="mensaje6" class="errores">Escribe una Consulta</div>
    </div>
    <div class="enviado">
      <input type="submit" id="bEnviar" value="Enviar formulario" class="boton" />
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'core/js/valida.js' %}"></script>
  {% endblock %}