<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Panderia San Francisco </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/modal.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/productos.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/carrito.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/divisa.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/04a1e28817.js" crossorigin="anonymous"></script>
  <!-- <script>
    let baseDeDatos = JSON.parse('{{ datos|safe }}');
  </script> -->
</head>

<body>
  <header>
    <nav>
      <div class="top">
        <img class="logo" src="{% static 'core/img/logo_estrecho.jpg' %}" alt="LOGO">
      </div>
      <div class="bottom">
        <ul class="menu">
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li class="dropdownn">
            <a href="#">Productos</a>
            <ul class="dropdownn-menu">
              <li><a href="{% url 'pan' %}">Pan</a></li>
              <li><a href="{% url 'empanadas' %}">Empanadas</a></li>
              <li><a href="{% url 'reposteria' %}">Reposteria</a></li>
            </ul>
          </li>
          <li><a href="{% url 'carrito' %}">Carrito</a></li>
          <li><a href="{% url 'preguntas' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <br><br>
  <div class="titulo-divisa">
    <h1 class="titulo">Panadería</h1>
    <select class="divisas" id="divisa"></select>
  </div>
  <!--   <div class="items-carro">
    <div id="items"></div>
    <div class="lista-carro">
      <h2 class="titulo">Carrito</h2> -->
  <!-- Elementos del carrito -->
  <!-- <ul id="carrito"></ul> -->
  <!-- Precio total -->
  <!-- <div class="total-carro">
        <p>Total: <span id="total"></span> <span id="div"></span></p>
        <button id="boton-vaciar">Vaciar</button>
      </div>
    </div>
  </div> -->
  <main>
    <div class="items-carro">
      <div id="items">
        {% with tipoProducto="Pan" %}
        {% for producto in productos %}
        {% if producto.tipo_producto.tipo_producto == tipoProducto %}
        <div class="producto">
          <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
          <h4 class="titulo">{{ producto.nombre }}</h4>
          <div class="agregar">
            <h5 class="precio">{{ producto.precio }}</h5>
            {% if request.session.rut %}
            {% csrf_token %}
            <button class="btn-agregar fa-solid fa-cart-arrow-down" <button
              onclick="anyadirProductoAlCarrito('{{ request.session.rut }}', '{{ producto.id_producto }}', 'add')"></button>
            </button>
            {% else %}
            <button class="btn-agregar-falso fa-solid fa-cart-arrow-down" <button onclick="mostrarModal()"></button>
            </button>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% empty %}
        <h2>No hay productos disponibles</h2>
        {% endfor %}
        {% endwith %}
      </div>
      <div class="lista-carro">
        <h2 class="titulo">Carrito</h2>
        <ul id="carrito"></ul>
        {% if elementos_carrito %}
        {% for item in elementos_carrito %}
        <li class="item-carrito">
          <p>{{ item.producto.nombre }} <span class="precio">{{ item.producto.precio }}</span></span></p>     
          <div class="cantidad">
            <button class="btn-agregar fa-solid fa-plus" onclick="anyadirProductoAlCarrito('{{ request.session.rut }}', '{{ item.producto.id_producto }}', 'add')"></button>
            <p>{{ item.cantidad }}</p>
            <button class="btn-eliminar fa-solid fa-minus" onclick="anyadirProductoAlCarrito('{{ request.session.rut }}', '{{ item.producto.id_producto }}', 'del1')"></button>
            <button class="btn-eliminar fa-solid fa-trash" onclick="anyadirProductoAlCarrito('{{ request.session.rut }}', '{{ item.producto.id_producto }}', 'del')"></button>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <p>El carrito está vacío.</p>
        {% endif %}
        <!-- Precio total -->
        <div class="total-carro">
          <p>Total: <span id="total"></span> <span id="div"></span></p>
          <button id="boton-vaciar" onclick="anyadirProductoAlCarrito('{{ request.session.rut }}', 0, 'empty')">Vaciar</button>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="modalSesion">
      <div class="modal-contenido">
        <span class="cerrar" onclick="cerrarModal()">&times;</span>
        <p>Debes iniciar sesión para agregar productos al carro de compras.</p>
        <button class="btn-agregar" onclick="window.location.href='/login_user'">Iniciar Sesión</button>
      </div>
    </div>
  </main>
  <footer>
    <div class="pie">
      <div class="left">
        <p>&copy; 2023 Todos los derechos reservados</p>
      </div>
      <div class="right">
        <ul>
          <div class="redes">
            <li><i href="#"><a class="fab fa-facebook-f"></a></i></li>
            <li><i href="#"><a class="fab fa-twitter"></a></i></li>
            <li><i href="#"><a class="fab fa-instagram"></a></i></li>
          </div>
        </ul>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'core/js/divisas.js' %}"></script>
  <script src="{% static 'core/js/carro.js' %}"></script>
  <script src="{% static 'core/js/modal.js' %}"></script>

</body>

</html>