{% extends 'base_user.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<h1 class="titulos"> Preguntas Frecuentes</h1>
<div class="accordion accordion-flush question" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        1. ¿Como puedo contactarme y hacerles una pregunta directa?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Existe la sección de contacto, donde podrás comunicarte y enviarnos las diferentes
        preguntas y consultas.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        2. ¿Tienen panes y pasteles sin gluten para ofrecer al público?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> Actualmente no, pero estamos desarrollando diferentes recetas para en un futuro,
        poder ofrecer una mayor diversidad de productos.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        3. ¿Aceptan pedidos especiales?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> Podemos aceptar pedidos especiales con respecto a la cantidad de producto, pero no
        quitar o añadir a las recetas ya elaboradas previamente.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        4. ¿Como es que ustedes son tan bacanes?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> No podemos evitarlo, va en nuestra naturaleza ;D.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        5. ¿Tienen algún tipo de descuento por compras por mayor?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Podemos considerar algún tipo de descuento, pero tendríamos que evaluar la compra de
        manera de especial de manera interna.</div>
    </div>
  </div>
</div>
{% endblock %}