<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Panderia San Francisco </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/04a1e28817.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <div class="top">
        <img class="logo" src="{% static 'core/img/logo_estrecho.jpg' %}" alt="LOGO">
      </div>
      <div class="bottom">
        <ul class="menu">
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li class="dropdownn">
            <a href="#">Productos</a>
            <ul class="dropdownn-menu">
              <li><a href="{% url 'pan' %}">Pan</a></li>
              <li><a href="{% url 'empanadas' %}">Empanadas</a></li>
              <li><a href="{% url 'reposteria' %}">Reposteria</a></li>
            </ul>
          </li>
          <li><a href="{% url 'carrito' %}">Carrito</a></li>
          <li><a href="{% url 'preguntas' %}">Preguntas Frecuentes</a></li>
          <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <br>
  <br>
  <h1 class="titulo"> Preguntas Frecuentes</h1>
  <br>
  <br>
  
  <div class="accordion accordion-flush question" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          1. ¿Como puedo contactarme y hacerles una pregunta directa?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Existe la sección de contacto, donde podrás comunicarte y enviarnos las diferentes preguntas y consultas.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          2. ¿Tienen panes y pasteles sin gluten para ofrecer al público?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> Actualmente no, pero estamos desarrollando diferentes recetas para en un futuro, poder ofrecer una mayor diversidad de productos.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          3. ¿Aceptan pedidos especiales?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> Podemos aceptar pedidos especiales con respecto a la cantidad de producto, pero no quitar o añadir a las recetas ya elaboradas previamente.</div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            4. ¿Como es que ustedes son tan bacanes?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"> No podemos evitarlo, va en nuestra naturaleza ;D.</div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            5. ¿Tienen algún tipo de descuento por compras por mayor?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Podemos considerar algún tipo de descuento, pero tendríamos que evaluar la compra de manera de especial de manera interna.</div>
        </div>
    </div>
    

    </div>
    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
  
  <footer>
    <div class="pie">
      <div class="left">
        <p>&copy; 2023 Todos los derechos reservados</p>
      </div>
      <div class="right">
        <ul>
          <div class="redes">
            <li><i href="#"><a class="fab fa-facebook-f"></a></i></li>
            <li><i href="#"><a class="fab fa-twitter"></a></i></li>
            <li><i href="#"><a class="fab fa-instagram"></a></i></li>
          </div>
        </ul>
      </div>
    </div>
  </footer>

</body>