{% extends 'base_user.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'administracion/css/forms.css' %}">
<h1 class="titulo">Registrarse</h1>
<form method="post">
  {% csrf_token %}
  {{ usuario_form }}
  <label for="region">Región:</label>
  <select id="id_region" name="region" onchange="updateComunas()">
    <option id="selectRegion" value="">Seleccionar Región</option>
    {% for region in regiones %}
    <option value="{{ region.id_region }}">{{ region.region }}</option>
    {% endfor %}
  </select>
  {{ direccion_form }}
  <button type="submit">Enviar</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'core/js/registrar.js' %}"></script>
{% endblock %}