{% extends 'base_user.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/modal.css' %}">
<link rel="stylesheet" href="{% static 'core/css/productos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/carrito.css' %}">
<link rel="stylesheet" href="{% static 'core/css/divisa.css' %}">
<script>
  var productos = JSON.parse('{{ productos|safe }}');
</script>
<div class="items-carro">
  <div id="items"></div>
  <div class="lista-carro">
    <h2 class="titulo">Carrito</h2>
    <ul id="carrito"></ul>
    <!-- Precio total -->
    <div class="total-carro">
      <p>Total: <span id="total"></span> <span id="div"></span></p>
      <button id="boton-vaciar" onclick="anyadirProductoAlCarrito(0, 'empty')">Vaciar</button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal" id="modalSesion">
  <div class="modal-contenido">
    <span class="cerrar" onclick="cerrarModal()">&times;</span>
    <p>Debes iniciar sesión para agregar productos al carro de compras.</p>
    <button class="btn-agregar" onclick="window.location.href='/login_user'">Iniciar Sesión</button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'core/js/divisas.js' %}"></script>
<script src="{% static 'core/js/carro.js' %}"></script>
<script src="{% static 'core/js/modal.js' %}"></script>
<script src="{% static 'core/js/productos.js' %}"></script>
{% endblock %}