.top {
    display: flex;
    background-color: #fffdd0;
    justify-content: center;
}

.logo {
    padding: 5px;
    width: 300px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #502b1b;
}

.menu {
    text-align: center;
}

nav .dropdownn-menu {
    background-color: #502b1b;
    display: none;
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 1px;
    padding: 10px;
    z-index: 1;

}

nav .dropdownn:hover .dropdownn-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li {
    display: inline-block;
    position: relative;
}

nav li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fffdd0;
}

nav li>a:hover {
    text-decoration: none;
    color: #c06138;
}


@media screen and (max-width: 600px) {


    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    nav .dropdownn-menu {
        display: none;
    }

    nav .dropdownn:hover .dropdownn-menu {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

    }
}