header {
    display: flex;
    align-items: center;
    background-color: #fffdd0;
    justify-content: center;
}

.logo {
    padding: 5px;
    width: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #502b1b;
}

.menu {
    text-align: center;
    padding-left: 2rem;
}

.usuario {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-right: 3rem;
}


.dropdownn-menu {
    background-color: #502b1b;
    display: none;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-top: 1px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(80, 43, 27, 0.5),
        0 5px 15px rgba(0, 0, 0, 0.2),
        5px 0 15px rgba(0, 0, 0, 0.2),
        -5px 0 15px rgba(0, 0, 0, 0.2),
        0 -5px 15px rgba(0, 0, 0, 0.2);

}

.dropdownn-user {
    background-color: #502b1b;
    display: none;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin: 1px 100px 0 0;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(80, 43, 27, 0.5),
        0 5px 15px rgba(0, 0, 0, 0.2),
        5px 0 15px rgba(0, 0, 0, 0.2),
        -5px 0 15px rgba(0, 0, 0, 0.2),
        0 -5px 15px rgba(0, 0, 0, 0.2);

}

nav .dropdownn:hover .dropdownn-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .dropdownn:hover .dropdownn-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul, .usuario ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li, .usaurio li {
    display: inline-block;
    position: relative;
}

nav li>a,
.usuario li>a, .usuario a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fffdd0;
}

nav li>a:hover,
.usuario a:hover {
    text-decoration: none;
    color: #c06138;
}


@media screen and (max-width: 700px) {

    nav {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .menu, .usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .usuario {
        padding: 0;
    }

    .dropdownn-menu, .dropdownn-user {
        display: none;
        box-shadow: none;
    }

    nav .dropdownn:hover .dropdownn-menu, .dropdownn:hover .dropdownn-user {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}