
body {
    --bs-body-bg: #fffdd0;
    overflow-x: hidden;
}

.buscar {
    text-align: right;
    padding: 0;
}

.buscar button {
    height: 50px;
    color: #502b1b;
    background-color: #fffdd0;
    border: 2px solid #502b1b;
    border-radius: 1rem;
}

.buscar button:hover {
    color: #fffdd0;
    background-color: #502b1b;

}

.buscar input {
    background-image: url('img/pan.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 40px;
    height: 50px;
    background-color: #fffdd0;
    border: 2px solid #502b1b;
    border-radius: 1rem;
}



.titulo {
    text-align: center;
    color: #502b1b;
    padding: 10px;
}

.img-pres {
    width: 60%;
    height: 60%;
}

.question{
    display: flex;
    flex-direction: column;
    margin: 100px 20%;


}
/*
#502b1b
#fffdd0
#ffpd59
#c06138