{% extends 'base_admin.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'administracion/css/tablas.css' %}">
    <div class="titulo">
        <h1>Comunas</h1>
        <button class="boton" onclick="window.location.href='add_comuna'">Agregar Comuna</button>
    </div>
    <table>
        <thead>
          <tr>
            <th>Comuna</th>
            <th>Region</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for com in comunas %}
          <tr>
            <td>{{ com.comuna }}</td>
            <td>{{ com.id_region }}</td>
            <td>
                <button class="boton" onclick="window.location.href='edit_comuna/{{com.id_comuna}}/'">Editar</butto>
                <button class="boton" onclick="window.location.href='eliminar_comuna/{{com.id_comuna}}/'">Eliminar</button>
            </td>
          </tr>
          {% empty %}
            <tr>
                <td colspan="3">No hay Tipo Productos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}