{% extends 'base_admin.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'administracion/css/tablas.css' %}">
    <div class="titulo">
        <h1>Productos</h1>
        <button class="boton" onclick="window.location.href='add_producto'">Agregar Producto</button>
    </div>
    <table>
        <thead>
          <tr>
            <th>Nombre del Producto</th>
            <th>Precio</th>
            <th>Tipo de Producto</th>
            <th>Imagen</th>
            <th>Stock</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.tipo_producto }}</td>
            <td><img class="img_product" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="50%" height="50%"></td>
            <td>{{ producto.stock }}</td>
            <td>
                <button class="boton" onclick="window.location.href='edit_producto/{{producto.id_producto}}/'">Editar</butto>
                <button class="boton" onclick="window.location.href='eliminar_producto/{{producto.id_producto}}/'">Eliminar</button>
            </td>
          </tr>
          {% empty %}
            <tr>
                <td colspan="6">No hay Productos disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}