{% extends 'base_admin.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'administracion/css/tablas.css' %}">
    <div class="titulo">
        <h1>Regiones</h1>
        <button class="boton" onclick="window.location.href='add_region'">Agregar Region</button>
    </div>
    <table>
        <thead>
          <tr>
            <th>Region</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for re in regiones %}
          <tr>
            <td>{{ re.region }}</td>
            <td>
                <button class="boton" onclick="window.location.href='edit_region/{{re.id_region}}/'">Editar</butto>
                <button class="boton" onclick="window.location.href='eliminar_region/{{re.id_region}}/'">Eliminar</button>
            </td>
          </tr>
          {% empty %}
            <tr>
                <td colspan="2">No hay Regiones disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}